<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>集装箱详细信息</title>
  <script src="js/rem.js"></script>
  <link rel="stylesheet" href="css/customs.css">
  <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  <script src="js/vue-2.5.16.js"></script>
</head>

<body>
<div id="bizOperation" class="bizOperation_box">

  <div class="background">
    <img src="imgs/b_bg.png" />
  </div>

  <div class="header">
    <span v-text="containerNo"></span>
    <span>集装箱详细信息</span>
  </div>

  <div class="main">

    <div class="left_box">
      <div class="baseInfo">
        <div class="title">
          <span>基本信息</span>
        </div>
        <div class="conter" id="baseInfoConter">
          <ul>
            <li>
              <span>集装箱号：</span>
              <span :title="baseInfo.cntr" v-text="baseInfo.cntr"></span>
            </li>
            <li>
              <span>箱位：</span>
              <span :title="baseInfo.cySlotNo" v-text="baseInfo.cySlotNo"></span>
            </li>
            <li>
              <span>尺寸：</span>
              <span :title="baseInfo.cntrSizCod" v-text="baseInfo.cntrSizCod"></span>
            </li>
            <li>
              <span>箱型：</span>
              <span :title="baseInfo.cntrTypCod" v-text="baseInfo.cntrTypCod"></span>
            </li>
            <li>
              <span>空重：</span>
              <span :title="baseInfo.efMark" v-text="baseInfo.efMark"></span>
            </li>
            <li>
              <span>箱公司：</span>
              <span :title="baseInfo.cntrCorpCod" v-text="baseInfo.cntrCorpCod"></span>
            </li>
            <li>
              <span>贸易：</span>
              <span :title="baseInfo.tradeMark" v-text="baseInfo.tradeMark"></span>
            </li>
            <li>
              <span>流向类别：</span>
              <span :title="baseInfo.cntrClass" v-text="baseInfo.cntrClass"></span>
            </li>
            <li>
              <span>装货港：</span>
              <span :title="baseInfo.loadPortCod" v-text="baseInfo.loadPortCod"></span>
            </li>
            <li>
              <span>箱毛重(kg)：</span>
              <span :title="baseInfo.cntrGrossWgt" v-text="baseInfo.cntrGrossWgt"></span>
            </li>
            <li>
              <span>卸货港：</span>
              <span :title="baseInfo.discPortCod" v-text="baseInfo.discPortCod"></span>
            </li>
            <li>
              <span>铅封号：</span>
              <span :title="baseInfo.sealNo" v-text="baseInfo.sealNo"></span>
            </li>
            <li>
              <span>目的港：</span>
              <span :title="baseInfo.destPortCod" v-text="baseInfo.destPortCod"></span>
            </li>
            <li>
              <span>提单号：</span>
              <span :title="baseInfo.billNo" v-text="baseInfo.billNo"></span>
            </li>
            <li>
              <span>进场时间：</span>
              <span :title="baseInfo.inCyTim" v-text="baseInfo.inCyTim"></span>
            </li>
            <!--<li>-->
            <!--<span>堆存天数：</span>-->
            <!--<span></span>-->
            <!--</li>-->
            <li>
              <span>温度：</span>
              <span :title="baseInfo.curTemp" v-text="baseInfo.curTemp"></span>
            </li>
            <li>
              <span>残损：</span>
              <span :title="baseInfo.damMark" v-text="baseInfo.damMark"></span>
            </li>
            <li>
              <span>危品等级：</span>
              <span :title="baseInfo.dangClass" v-text="baseInfo.dangClass"></span>
            </li>
            <li>
              <span>国际危规号：</span>
              <span :title="baseInfo.undgNo" v-text="baseInfo.undgNo"></span>
            </li>
            <!--<li>-->
            <!--<span>船名航次：</span>-->
            <!--<span></span>-->
            <!--</li>-->
            <li>
              <span>超高：</span>
              <span :title="baseInfo.oogHigh" v-text="baseInfo.oogHigh"></span>
            </li>
            <!--<li>-->
            <!--<span>货名：</span>-->
            <!--<span></span>-->
            <!--</li>-->
            <li>
              <span>前超：</span>
              <span :title="baseInfo.oogFront" v-text="baseInfo.oogFront"></span>
            </li>
            <li>
              <span>后超：</span>
              <span :title="baseInfo.oogBack" v-text="baseInfo.oogBack"></span>
            </li>
            <li>
              <span>左超：</span>
              <span :title="baseInfo.oogLeft" v-text="baseInfo.oogLeft"></span>
            </li>
            <li>
              <span>右超：</span>
              <span :title="baseInfo.oogRight" v-text="baseInfo.oogRight"></span>
            </li>
          </ul>
        </div>
      </div>

      <div class="highInfo">
        <div id="tag-nav" class="title" @click="checkRightInfo">
          <span data-value="state" :class="isRightInfo? 'active' : ''">状态信息</span>
          <span data-value="locus" :class="isRightInfo? '' : 'active'">轨迹信息</span>
        </div>

        <div class="conter">
          <div v-show="isRightInfo" id="state">

            <div v-if="baseInfo.ieMark === 'E'" class="output_state">
              <div class="danhao jc">
                <p>进场时间 <span v-text="stateInfo.jcTime"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.jcTime"></i>
              </div>
              <div class="danhao cg">
                <p>报关单号 <span v-text="stateInfo.baoguan.time"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.baoguan.time"></i>
                <div>
                  <a v-for="(value,index) of stateInfo.baoguan.data" class="tableA"
                     @click="showTableDetail($event, '报关单', index)" v-if="value.isShow"
                     v-text="value.ENTRY_ID"
                  ></a>
                </div>
              </div>
              <div class="danhao cy">
                <p>查验单号 <span v-text="stateInfo.chayan.time"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.chayan.time"></i>
                <div>
                  <a v-for="(value,index) of stateInfo.chayan.data" class="tableA"
                     @click="showTableDetail($event, '查验单', index)" v-if="value.isShow"
                     v-text="value.EXAM_REC_ID"
                  ></a>
                </div>
              </div>
              <div class="danhao zg">
                <p>转关单号 <span v-text="stateInfo.zhuanguan.time"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.zhuanguan.time"></i>
                <div>
                  <a v-for="(value,index) of stateInfo.zhuanguan.data" class="tableA"
                     @click="showTableDetail($event, '转关单', index)" v-if="value.isShow"
                     v-text="value.TURN_NO"
                  ></a>
                </div>
              </div>
              <div class="danhao lh">
                <p>理货时间 <span v-text="stateInfo.lh_xcTime"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.lh_xcTime"></i>
              </div>
              <div class="danhao cd">
                <p>海关舱单 <span v-text="stateInfo.cangdan.time"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.cangdan.time"></i>
                <div>
                  <a v-for="(value,index) of stateInfo.cangdan.data" class="tableA"
                     @click="showTableDetail($event, '海关舱单', index)" v-if="value.isShow"
                     v-text="value.MANIFEST_ID"
                  ></a>
                </div>
              </div>
              <div class="danhao lj">
                <p>离境时间 <span v-text="stateInfo.ljTime"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.ljTime"></i>
              </div>
            </div>

            <div v-if="baseInfo.ieMark === 'I'" class="input_state">
              <div class="danhao dg">
                <p>抵港时间 <span v-text="stateInfo.dgTime"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.dgTime"></i>
              </div>
              <div class="danhao lh">
                <p>卸船时间 <span v-text="stateInfo.lh_xcTime"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.lh_xcTime"></i>
              </div>
              <div class="danhao cd">
                <p>海关舱单 <span v-text="stateInfo.cangdan.time"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.cangdan.time"></i>
                <div>
                  <a v-for="(value,index) of stateInfo.cangdan.data" class="tableA"
                     @click="showTableDetail($event, '海关舱单', index)" v-if="value.isShow"
                     v-text="value.MANIFEST_ID"
                  ></a>
                </div>
              </div>
              <div class="danhao cg">
                <p>报关单号 <span v-text="stateInfo.baoguan.time"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.baoguan.time"></i>
                <div>
                  <a v-for="(value,index) of stateInfo.baoguan.data" class="tableA"
                     @click="showTableDetail($event, '报关单', index)" v-if="value.isShow"
                     v-text="value.ENTRY_ID"
                  ></a>
                </div>
              </div>
              <div class="danhao zg">
                <p>转关单号 <span v-text="stateInfo.zhuanguan.time"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.zhuanguan.time"></i>
                <div>
                  <a v-for="(value,index) of stateInfo.zhuanguan.data" class="tableA"
                     @click="showTableDetail($event, '转关单', index)" v-if="value.isShow"
                     v-text="value.TURN_NO"
                  ></a>
                </div>
              </div>
              <div class="danhao cy">
                <p>查验单号 <span v-text="stateInfo.chayan.time"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.chayan.time"></i>
                <div>
                  <a v-for="(value,index) of stateInfo.chayan.data" class="tableA"
                     @click="showTableDetail($event, '查验单', index)" v-if="value.isShow"
                     v-text="value.EXAM_REC_ID"
                  ></a>
                </div>
              </div>
              <div class="danhao fx">
                <p>海关放行时间 <span v-text="stateInfo.fxTime"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.fxTime"></i>
              </div>
              <div class="danhao cc">
                <p>出场时间 <span v-text="stateInfo.ccTime"></span></p>
                <i class="fa fa-spinner fa-pulse" v-if="!stateInfo.ccTime"></i>
              </div>
            </div>


          </div>
          <div v-show="!isRightInfo" id="locus">
            <ul>
              <li>
                <span>2018-05-21 12:00:01</span>
                <b></b>
                <span>5号泊位</span>
              </li>
              <li>
                <span>2018-05-21 12:16:00</span>
                <b></b>
                <span>AJ堆场</span>
              </li>
              <li class="active">
                <span>2018-05-21 12:46:00</span>
                <b></b>
                <span>查验区</span>
              </li>
              <li>
                <span>2018-05-21 12:50:00</span>
                <b></b>
                <span>AR堆场</span>
              </li>
              <li>
                <span>2018-05-21 13:01:00</span>
                <b></b>
                <span>自动电子闸口</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="right_box">
      <div v-show="isRightInfo" id="state-main">
        <div class="title">
          <span v-text="stateInfo.rightTitle"></span>
        </div>
        <div class="conter">

          <!-- 海关舱单详情 -->
          <div v-show="stateInfo.rightTitle === '海关舱单'" class="cangdan_xq" id="cangdanConter">

            <p><label>舱单信息编号 </label><span :title="stateInfo.cangdan.newData.MANIFEST_ID" v-text="stateInfo.cangdan.newData.MANIFEST_ID"></span></p>
            <p><label>运输工具编号 </label><span :title="stateInfo.cangdan.newData.TRANSPORT_ID" v-text="stateInfo.cangdan.newData.TRANSPORT_ID"></span></p>
            <p><label>卸货地 </label><span :title="stateInfo.cangdan.newData.UNLOAD_CODE" v-text="stateInfo.cangdan.newData.UNLOAD_CODE"></span></p>
            <p><label>货物海关状态 </label><span :title="stateInfo.cangdan.newData.CUSTOMS_STATE_CODE" v-text="stateInfo.cangdan.newData.CUSTOMS_STATE_CODE"></span></p>
            <p><label>托运货物总件数 </label><span :title="stateInfo.cangdan.newData.PACK_NO" v-text="stateInfo.cangdan.newData.PACK_NO"></span></p>
            <p><label>海关单证类型 </label><span :title="stateInfo.cangdan.newData.FORWARD_FORM_TYPE" v-text="stateInfo.cangdan.newData.FORWARD_FORM_TYPE"></span></p>
            <p><label>外离境地海关 </label><span :title="stateInfo.cangdan.newData.EXIT_CUSTOMS_CODE" v-text="stateInfo.cangdan.newData.EXIT_CUSTOMS_CODE"></span></p>
            <p><label>航次航班编号 </label><span :title="stateInfo.cangdan.newData.VOYAGE_NO" v-text="stateInfo.cangdan.newData.VOYAGE_NO"></span></p>
            <p><label>承运人 </label><span :title="stateInfo.cangdan.newData.TRANSIT_CODE" v-text="stateInfo.cangdan.newData.TRANSIT_CODE"></span></p>
            <p><label>装货地 </label><span :title="stateInfo.cangdan.newData.LOAD_CODE" v-text="stateInfo.cangdan.newData.LOAD_CODE"></span></p>
            <p><label>到达卸货地日期 </label><span :title="stateInfo.cangdan.newData.UNLOAD_DATE" v-text="stateInfo.cangdan.newData.UNLOAD_DATE"></span></p>
            <p><label>收货地点名称 </label><span :title="stateInfo.cangdan.newData.OWNER_PLACE_NAME" v-text="stateInfo.cangdan.newData.OWNER_PLACE_NAME"></span></p>
            <p><label>货物托运地点 </label><span :title="stateInfo.cangdan.newData.CONSIGN_PLACE_CODE" v-text="stateInfo.cangdan.newData.CONSIGN_PLACE_CODE"></span></p>
            <p><label>托运货物总毛重 </label><span :title="stateInfo.cangdan.newData.GROSS_WT" v-text="stateInfo.cangdan.newData.GROSS_WT"></span></p>
            <p><label>预报启运时间 </label><span :title="stateInfo.cangdan.newData.PRE_TRANSIT_DATE" v-text="stateInfo.cangdan.newData.PRE_TRANSIT_DATE"></span></p>
            <p><label>确报启运时间 </label><span :title="stateInfo.cangdan.newData.REAL_TRANSIT_DATE" v-text="stateInfo.cangdan.newData.REAL_TRANSIT_DATE"></span></p>
            <p><label>备注 </label><span :title="stateInfo.cangdan.newData.REMARK" v-text="stateInfo.cangdan.newData.REMARK"></span></p>
            <p><label>装载运输工具时间 </label><span :title="stateInfo.cangdan.newData.LOAD_DATE" v-text="stateInfo.cangdan.newData.LOAD_DATE"></span></p>
            <p><label>中转地点 </label><span :title="stateInfo.cangdan.newData.TRN_PLACE_CODE" v-text="stateInfo.cangdan.newData.TRN_PLACE_CODE"></span></p>
            <p><label>中转目的地 </label><span :title="stateInfo.cangdan.newData.DESTINATION_CODE" v-text="stateInfo.cangdan.newData.DESTINATION_CODE"></span></p>
            <p><label>更改原因 </label><span :title="stateInfo.cangdan.newData.CHANGE_REASON" v-text="stateInfo.cangdan.newData.CHANGE_REASON"></span></p>
            <p><label>包装种类 </label><span :title="stateInfo.cangdan.newData.WRAP_TYPE" v-text="stateInfo.cangdan.newData.WRAP_TYPE"></span></p>
            <p><label>托运货物价值 </label><span :title="stateInfo.cangdan.newData.GOODS_PRICE" v-text="stateInfo.cangdan.newData.GOODS_PRICE"></span></p>
            <p><label>运输工具启运日期 </label><span :title="stateInfo.cangdan.newData.DECL_TRANSIT_DATE" v-text="stateInfo.cangdan.newData.DECL_TRANSIT_DATE"></span></p>
            <p><label>预报抵运日期 </label><span :title="stateInfo.cangdan.newData.PRE_ARRIVE_DATE" v-text="stateInfo.cangdan.newData.PRE_ARRIVE_DATE"></span></p>
            <p><label>确报抵运日期 </label><span :title="stateInfo.cangdan.newData.REAL_ARRIVE_DATE" v-text="stateInfo.cangdan.newData.REAL_ARRIVE_DATE"></span></p>
            <p><label>审核时间 </label><span :title="stateInfo.cangdan.newData.AUDIT_DATE" v-text="stateInfo.cangdan.newData.AUDIT_DATE"></span></p>
            <p><label>报文接受时间 </label><span :title="stateInfo.cangdan.newData.RECV_MSG_DATE" v-text="stateInfo.cangdan.newData.RECV_MSG_DATE"></span></p>
            <p><label>提运单号 </label><span :title="stateInfo.cangdan.newData.BILL_NO" v-text="stateInfo.cangdan.newData.BILL_NO"></span></p>
            <p><label>进出口 </label><span :title="stateInfo.cangdan.newData.I_E_FLAG" v-text="stateInfo.cangdan.newData.I_E_FLAG"></span></p>
            <p><label>体积单位 </label><span :title="stateInfo.cangdan.newData.VOLUME_UNIT" v-text="stateInfo.cangdan.newData.VOLUME_UNIT"></span></p>
            <p><label>收货地址代码 </label><span :title="stateInfo.cangdan.newData.OWNER_PLACE_CODE" v-text="stateInfo.cangdan.newData.OWNER_PLACE_CODE"></span></p>
            <p><label>舱单传输人名称 </label><span :title="stateInfo.cangdan.newData.DECL_NAME" v-text="stateInfo.cangdan.newData.DECL_NAME"></span></p>
            <p><label>关区代码 </label><span :title="stateInfo.cangdan.newData.CUSTOMS_CODE" v-text="stateInfo.cangdan.newData.CUSTOMS_CODE"></span></p>
            <p><label>接收方代码 </label><span :title="stateInfo.cangdan.newData.RECEIVER_CODE" v-text="stateInfo.cangdan.newData.RECEIVER_CODE"></span></p>
            <p><label>重量单位 </label><span :title="stateInfo.cangdan.newData.WEIGHT_UNIT" v-text="stateInfo.cangdan.newData.WEIGHT_UNIT"></span></p>
            <p><label>运输工具名称 </label><span :title="stateInfo.cangdan.newData.TRANSPORT_NAME" v-text="stateInfo.cangdan.newData.TRANSPORT_NAME"></span></p>
            <p><label>币制代码 </label><span :title="stateInfo.cangdan.newData.CURR_CODE" v-text="stateInfo.cangdan.newData.CURR_CODE"></span></p>
            <p><label>提运单类型 </label><span :title="stateInfo.cangdan.newData.BILL_TYPE" v-text="stateInfo.cangdan.newData.BILL_TYPE"></span></p>
            <p><label>创建时间 </label><span :title="stateInfo.cangdan.newData.GEN_DATE" v-text="stateInfo.cangdan.newData.GEN_DATE"></span></p>
            <p><label>结关标志 </label><span :title="stateInfo.cangdan.newData.RTX_MARK" v-text="stateInfo.cangdan.newData.RTX_MARK"></span></p>
            <p><label>运输条款代码 </label><span :title="stateInfo.cangdan.newData.FEE_CONDITION" v-text="stateInfo.cangdan.newData.FEE_CONDITION"></span></p>
            <p><label>审核人 </label><span :title="stateInfo.cangdan.newData.AUDIT_ER" v-text="stateInfo.cangdan.newData.AUDIT_ER"></span></p>
            <p><label>承运人货物分配 </label><span :title="stateInfo.cangdan.newData.BATCH_MARK" v-text="stateInfo.cangdan.newData.BATCH_MARK"></span></p>
            <p><label>码头作业指令 </label><span :title="stateInfo.cangdan.newData.DOCK_ORDER_CODE" v-text="stateInfo.cangdan.newData.DOCK_ORDER_CODE"></span></p>
            <p><label>发送方代码 </label><span :title="stateInfo.cangdan.newData.SENDER_CODE" v-text="stateInfo.cangdan.newData.SENDER_CODE"></span></p>
            <p><label>到第一目的地时间 </label><span :title="stateInfo.cangdan.newData.FIRST_PORT_DATE" v-text="stateInfo.cangdan.newData.FIRST_PORT_DATE"></span></p>
            <p><label>创建人 </label><span :title="stateInfo.cangdan.newData.GEN_ER" v-text="stateInfo.cangdan.newData.GEN_ER"></span></p>
            <p><label>运输工具名称 </label><span :title="stateInfo.cangdan.newData.TRANSPORT_MODE" v-text="stateInfo.cangdan.newData.TRANSPORT_MODE"></span></p>
            <p><label>第一目的地区代码 </label><span :title="stateInfo.cangdan.newData.FIRST_PORT_ID" v-text="stateInfo.cangdan.newData.FIRST_PORT_ID"></span></p>
            <p><label>舱单编号 </label><span :title="stateInfo.cangdan.newData.MANIFEST_NO" v-text="stateInfo.cangdan.newData.MANIFEST_NO"></span></p>
            <p><label>上一海关单证编号 </label><span :title="stateInfo.cangdan.newData.FORWARD_FORM_ID" v-text="stateInfo.cangdan.newData.FORWARD_FORM_ID"></span></p>
            <p><label>运费支付方式 </label><span :title="stateInfo.cangdan.newData.FEE_CODE" v-text="stateInfo.cangdan.newData.FEE_CODE"></span></p>
            <p><label>运输方式 </label><span :title="stateInfo.cangdan.newData.DECL_TRAF_MODE" v-text="stateInfo.cangdan.newData.DECL_TRAF_MODE"></span></p>
            <p><label>父提运单号编号 </label><span :title="stateInfo.cangdan.newData.PARENT_BILL_NO" v-text="stateInfo.cangdan.newData.PARENT_BILL_NO"></span></p>
            <p><label>途径国描述 </label><span :title="stateInfo.cangdan.newData.PASS_COUNTRY_CODE" v-text="stateInfo.cangdan.newData.PASS_COUNTRY_CODE"></span></p>
            <p><label>货物体积 </label><span :title="stateInfo.cangdan.newData.VOLUME" v-text="stateInfo.cangdan.newData.VOLUME"></span></p>
            <p><label>运输工具代理机构 </label><span :title="stateInfo.cangdan.newData.AGENT_CODE" v-text="stateInfo.cangdan.newData.AGENT_CODE"></span></p>

          </div>

          <!--报关单详情-->
          <div v-show="stateInfo.rightTitle === '报关单'" class="baoguan_xq" id="baoguanConter">
            <!--todo: 改改改号爱乖乖号爱噶 -->

            <p><label>预录入编号</label><span :title="stateInfo.baoguan.newData.pre_entry_id" v-text="stateInfo.cangdan.newData.pre_entry_id"></span></p>
            <p><label>海关编号</label><span :title="stateInfo.baoguan.newData.entry_id" v-text="stateInfo.cangdan.newData.entry_id"></span></p>

            <p><label>收发货人</label><span :title="stateInfo.baoguan.newData.owner_name" v-text="stateInfo.cangdan.newData.owner_name"></span></p>
            <p><label>进口口岸</label><span :title="stateInfo.baoguan.newData.i_e_port" v-text="stateInfo.cangdan.newData.i_e_port"></span></p>
            <p><label>进口日期</label><span :title="stateInfo.baoguan.newData.i_e_date" v-text="stateInfo.cangdan.newData.i_e_date"></span></p>
            <p><label>申报日期</label><span :title="stateInfo.baoguan.newData.d_date" v-text="stateInfo.cangdan.newData.d_date"></span></p>

            <p><label>消费使用单位</label><span :title="stateInfo.baoguan.newData.trade_name" v-text="stateInfo.cangdan.newData.trade_name"></span></p>
            <p><label>运输方式</label><span :title="stateInfo.baoguan.newData.traf_mode" v-text="stateInfo.cangdan.newData.traf_mode"></span></p>
            <p><label>运输工具名称</label><span :title="stateInfo.baoguan.newData.traf_name" v-text="stateInfo.cangdan.newData.traf_name"></span></p>

            <p><label>申报单位</label><span :title="stateInfo.baoguan.newData.agent_name" v-text="stateInfo.cangdan.newData.agent_name"></span></p>
            <p><label>监管方式</label><span :title="stateInfo.baoguan.newData.trade_mode" v-text="stateInfo.cangdan.newData.trade_mode"></span></p>
            <p><label>征免性质</label><span :title="stateInfo.baoguan.newData.cut_mode" v-text="stateInfo.cangdan.newData.cut_mode"></span></p>

            <p><label>成交方式</label><span :title="stateInfo.baoguan.newData.trans_mode" v-text="stateInfo.cangdan.newData.trans_mode"></span></p>
            <p><label>提运单号</label><span :title="stateInfo.baoguan.newData.bill_no" v-text="stateInfo.cangdan.newData.bill_no"></span></p>
            <p><label>备案号</label><span :title="stateInfo.baoguan.newData.relative_manual_no" v-text="stateInfo.cangdan.newData.relative_manual_no"></span></p>

            <p><label>贸易国（地区）</label><span :title="stateInfo.baoguan.newData.trade_country" v-text="stateInfo.cangdan.newData.trade_country"></span></p>
            <p><label>起运国 <br>（地区）</label><span :title="stateInfo.baoguan.newData.xxx" v-text="stateInfo.cangdan.newData.xxx"></span></p>
            <p><label>装货港</label><span :title="stateInfo.baoguan.newData.destination_port" v-text="stateInfo.cangdan.newData.destination_port"></span></p>
            <p><label>境内目的地</label><span :title="stateInfo.baoguan.newData.DISTRICT_CODE" v-text="stateInfo.cangdan.newData.DISTRICT_CODE"></span></p>

            <p><label>运费</label><span :title="stateInfo.baoguan.newData.fee_mark" v-text="stateInfo.cangdan.newData.fee_mark"></span></p>
            <p><label>保费</label><span :title="stateInfo.baoguan.newData.insur_mark" v-text="stateInfo.cangdan.newData.insur_mark"></span></p>
            <p><label>杂费</label><span :title="stateInfo.baoguan.newData.other_mark" v-text="stateInfo.cangdan.newData.other_mark"></span></p>
            <p><label>许可证号</label><span :title="stateInfo.baoguan.newData.license_no" v-text="stateInfo.cangdan.newData.license_no"></span></p>

            <p><label>件数</label><span :title="stateInfo.baoguan.newData.pack_no" v-text="stateInfo.cangdan.newData.pack_no"></span></p>
            <p><label>包装种类</label><span :title="stateInfo.baoguan.newData.wrap_type" v-text="stateInfo.cangdan.newData.wrap_type"></span></p>
            <p><label>毛重（千克）</label><span :title="stateInfo.baoguan.newData.gross_wt" v-text="stateInfo.cangdan.newData.gross_wt"></span></p>
            <p><label>净重（千克）</label><span :title="stateInfo.baoguan.newData.net_wt" v-text="stateInfo.cangdan.newData.net_wt"></span></p>

            <p><label>集装箱号</label><span :title="stateInfo.baoguan.newData.CONTAINER_ID" v-text="stateInfo.cangdan.newData.CONTAINER_ID"></span></p>
            <p><label>随付单证</label><span :title="stateInfo.baoguan.newData.xxx" v-text="stateInfo.cangdan.newData.xxx"></span></p>
            <p><label>合同协议号</label><span :title="stateInfo.baoguan.newData.contr_no" v-text="stateInfo.cangdan.newData.contr_no"></span></p>

            <p><label>标记唛码 <br> 及备注</label><span :title="stateInfo.baoguan.newData.xxx" v-text="stateInfo.cangdan.newData.xxx"></span></p>

            <ul>
              <li class="thead">
                <span>项号</span>
                <span>商品编号</span>
                <span>商品名称、规格编号</span>
                <span>数量及单位</span>
                <span>原产地(地区)</span>
                <span>目的地(地区)</span>
                <span>单价</span>
                <span>总价</span>
                <span>币制</span>
                <span>征免</span>
              </li>
              <li>
                <span :title="stateInfo.baoguan.newData.G_NO" v-text="stateInfo.cangdan.newData.G_NO"></span>
                <span :title="stateInfo.baoguan.newData.code_ts" v-text="stateInfo.cangdan.newData.code_ts"></span>
                <span :title="stateInfo.baoguan.newData.G_NAME + ' / ' + stateInfo.baoguan.newData.G_MODEL"
                      v-text="stateInfo.cangdan.newData.G_NAME + ' / ' + stateInfo.baoguan.newData.G_MODEL"></span>
                <span :title="stateInfo.baoguan.newData.G_QTY + ' / ' + stateInfo.baoguan.newData.g_unit"
                      v-text="stateInfo.cangdan.newData.G_QTY + ' / ' + stateInfo.baoguan.newData.g_unit"></span>
                <span :title="stateInfo.baoguan.newData.origin_country" v-text="stateInfo.cangdan.newData.origin_country"></span>
                <span :title="stateInfo.baoguan.newData.DISTRICT_CODE" v-text="stateInfo.cangdan.newData.DISTRICT_CODE"></span>
                <span :title="stateInfo.baoguan.newData.DECL_PRICE" v-text="stateInfo.cangdan.newData.DECL_PRICE"></span>
                <span :title="stateInfo.baoguan.newData.decl_total" v-text="stateInfo.cangdan.newData.decl_total"></span>
                <span :title="stateInfo.baoguan.newData.trade_curr" v-text="stateInfo.cangdan.newData.trade_curr"></span>
                <span :title="stateInfo.baoguan.newData.cut_mode" v-text="stateInfo.cangdan.newData.cut_mode"></span>
              </li>
            </ul>

            <div class="tips">兹申明对以上内容承担如实申报、依法纳税之法律责任</div>

          </div>

          <!--查验单详情-->
          <div v-show="stateInfo.rightTitle === '查验单'" class="chayan_xq" id="chayanConter">
            <p><label>报关单号</label><span :title="this.stateInfo.chayan.newData.form_id" v-text="this.stateInfo.chayan.newData.form_id"></span></p>
            <p><label>查验单号</label><span :title="this.stateInfo.chayan.newData.exam_rec_id" v-text="this.stateInfo.chayan.newData.exam_rec_id"></span></p>
            <p><label>经营单位</label><span :title="this.stateInfo.chayan.newData.trade_name" v-text="this.stateInfo.chayan.newData.trade_name"></span></p>
            <p><label>运输工具名称</label><span :title="this.stateInfo.chayan.newData.traf_name" v-text="this.stateInfo.chayan.newData.traf_name"></span></p>
            <p><label>申报日期</label><span :title="this.stateInfo.chayan.newData.d_date" v-text="this.stateInfo.chayan.newData.d_date"></span></p>
            <p><label>进出口日期</label><span :title="this.stateInfo.chayan.newData.i_e_date" v-text="this.stateInfo.chayan.newData.i_e_date"></span></p>
            <p><label>申报单位</label><span :title="this.stateInfo.chayan.newData.agent_name" v-text="this.stateInfo.chayan.newData.agent_name"></span></p>
            <p><label>收(发)货单位</label><span :title="this.stateInfo.chayan.newData.owner_name" v-text="this.stateInfo.chayan.newData.owner_name"></span></p>
            <p><label>提运单号</label><span :title="this.stateInfo.chayan.newData.bill_no" v-text="this.stateInfo.chayan.newData.bill_no"></span></p>
            <p><label>监管方式</label><span :title="this.stateInfo.chayan.newData.trade_mode" v-text="this.stateInfo.chayan.newData.trade_mode"></span></p>
            <p><label>运输方式</label><span :title="this.stateInfo.chayan.newData.traf_mode" v-text="this.stateInfo.chayan.newData.traf_mode"></span></p>
            <p><label>货物存放地</label><span :title="this.stateInfo.chayan.newData.goods_addr" v-text="this.stateInfo.chayan.newData.goods_addr"></span></p>
            <p><label>件数</label><span :title="this.stateInfo.chayan.newData.pack_no" v-text="this.stateInfo.chayan.newData.pack_no"></span></p>
            <p><label>包装种类</label><span :title="this.stateInfo.chayan.newData.wrap_type" v-text="this.stateInfo.chayan.newData.wrap_type"></span></p>
            <p><label>毛重(公斤)</label><span :title="this.stateInfo.chayan.newData.gross_wt" v-text="this.stateInfo.chayan.newData.gross_wt"></span></p>
            <p><label>净重(公斤)</label><span :title="this.stateInfo.chayan.newData.net_wt" v-text="this.stateInfo.chayan.newData.net_wt"></span></p>
            <p><label>实际毛重 <br>(公斤)</label><span :title="this.stateInfo.chayan.newData.real_gross_wt" v-text="this.stateInfo.chayan.newData.real_gross_wt"></span></p>
            <p><label>合同号</label><span :title="this.stateInfo.chayan.newData.contr_no" v-text="this.stateInfo.chayan.newData.contr_no"></span></p>
            <p><label>结汇证号</label><span :title="this.stateInfo.chayan.newData.appr_no" v-text="this.stateInfo.chayan.newData.appr_no"></span></p>
            <p><label>许可证号</label><span :title="this.stateInfo.chayan.newData.license_no" v-text="this.stateInfo.chayan.newData.license_no"></span></p>
            <p><label>扣舱单号</label><span :title="this.stateInfo.chayan.newData.exam_form_id" v-text="this.stateInfo.chayan.newData.exam_form_id"></span></p>
            <p><label>验货方式</label><span :title="this.stateInfo.chayan.newData.exam_mode_code" v-text="this.stateInfo.chayan.newData.exam_mode_code"></span></p>
            <p><label>查验方法</label><span :title="this.stateInfo.chayan.newData.exam_type" v-text="this.stateInfo.chayan.newData.exam_type"></span></p>
            <p><label>查验指派人</label><span :title="this.stateInfo.chayan.newData.exam_assign" v-text="this.stateInfo.chayan.newData.exam_assign"></span></p>
            <p><label>查验处理人</label><span :title="this.stateInfo.chayan.newData.exam_proc_er" v-text="this.stateInfo.chayan.newData.exam_proc_er"></span></p>
            <p><label>承运人申报 <br> 是否正确</label><span :title="this.stateInfo.chayan.newData.traf_co_corr" v-text="this.stateInfo.chayan.newData.traf_co_corr"></span></p>
            <p><label>处罚通知书</label><span :title="this.stateInfo.chayan.newData.inves_proc_id" v-text="this.stateInfo.chayan.newData.inves_proc_id"></span></p>
            <p><label>手册号码</label><span :title="this.stateInfo.chayan.newData.manual_no" v-text="this.stateInfo.chayan.newData.manual_no"></span></p>

            <p>
              <label>总署查验要求</label>
              <span :title="this.stateInfo.chayan.newData.exam_mode_code_result" v-text="this.stateInfo.chayan.newData.exam_mode_code_result"></span>
            </p>

            <p><label>核对重量</label><span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span></p>
            <p><label>检查箱体</label><span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span></p>
            <p><label>是否夹藏</label><span :title="this.stateInfo.chayan.newData.manual_no" v-text="this.stateInfo.chayan.newData.manual_no"></span></p>
            <p><label>本关区查验 <br>要求</label><span :title="this.stateInfo.chayan.newData.exam_mode_code_local" v-text="this.stateInfo.chayan.newData.exam_mode_code_local"></span></p>
            <p><label>查验方式</label><span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span></p>

            <ul class="u1">
              <li class="thead">
                <span>集装箱/车号</span>
                <span>封志号</span>
                <span>追加查验方式</span>
                <span>查验区域</span>
                <span>检查结果</span>
                <span>集装箱备注</span>
              </li>
              <li>
                <span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span>
                <span :title="this.stateInfo.chayan.newData.cus_cover_id" v-text="this.stateInfo.chayan.newData.cus_cover_id"></span>
                <span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span>
                <span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span>
                <span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span>
                <span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span>
              </li>
            </ul>

            <ul class="u2">
              <li class="thead">
                <span>序号</span>
                <span>商品编号</span>
                <span>品名/规格</span>
                <span>数量及单位</span>
                <span>原产国/最终目的国</span>
                <span>总价/币制</span>
                <span>商品特殊查验要求</span>
              </li>
              <li>
                <span :title="this.stateInfo.chayan.newData.g_no" v-text="this.stateInfo.chayan.newData.g_no"></span>
                <span :title="this.stateInfo.chayan.newData.code_ts" v-text="this.stateInfo.chayan.newData.code_ts"></span>
                <span :title="this.stateInfo.chayan.newData.g_name + ' / ' + this.stateInfo.chayan.newData.g_model"
                      v-text="this.stateInfo.chayan.newData.g_name + ' / ' + this.stateInfo.chayan.newData.g_model"></span>
                <span :title="this.stateInfo.chayan.newData.real_g_unit" v-text="this.stateInfo.chayan.newData.real_g_unit"></span>
                <span :title="this.stateInfo.chayan.newData.real_origin_country" v-text="this.stateInfo.chayan.newData.real_origin_country"></span>
                <span :title="this.stateInfo.chayan.newData.real_trade_curr" v-text="this.stateInfo.chayan.newData.real_trade_curr"></span>
                <span :title="this.stateInfo.chayan.newData.rsk_request_str" v-text="this.stateInfo.chayan.newData.rsk_request_str"></span>
              </li>
            </ul>

            <p><label>备注</label><span :title="this.stateInfo.chayan.newData.note_s" v-text="this.stateInfo.chayan.newData.note_s"></span></p>
            <p><label>安全提示</label><span :title="this.stateInfo.chayan.newData.security_info" v-text="this.stateInfo.chayan.newData.security_info"></span></p>
            <p><label>其他特殊要求</label><span :title="this.stateInfo.chayan.newData.other_require" v-text="this.stateInfo.chayan.newData.other_require"></span></p>
            <p><label>查验结果</label><span :title="this.stateInfo.chayan.newData.mac_exam_result" v-text="this.stateInfo.chayan.newData.mac_exam_result"></span></p>
            <p><label>处理意见</label><span :title="this.stateInfo.chayan.newData.mac_exam_proc_idea" v-text="this.stateInfo.chayan.newData.mac_exam_proc_idea"></span></p>
            <p><label>查验时间</label><span :title="this.stateInfo.chayan.newData.mac_time" v-text="this.stateInfo.chayan.newData.mac_time"></span></p>
            <p><label>查验地点</label><span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span></p>
            <p><label>查验官员签名 <br>或代号</label><span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span></p>
            <p><label>机器查验<br>过程记录</label><span :title="this.stateInfo.chayan.newData.mac_chk_notes" v-text="this.stateInfo.chayan.newData.mac_chk_notes"></span></p>
            <p><label>审批意见</label><span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span></p>
            <p><label>查验结果</label><span :title="this.stateInfo.chayan.newData.exam_proc_code" v-text="this.stateInfo.chayan.newData.exam_proc_code"></span></p>
            <p><label>处理意见</label><span :title="this.stateInfo.chayan.newData.exam_proc_idea" v-text="this.stateInfo.chayan.newData.exam_proc_idea"></span></p>
            <p><label>查验时间</label><span :title="this.stateInfo.chayan.newData.exam_time" v-text="this.stateInfo.chayan.newData.exam_time"></span></p>
            <p><label>查验地点</label><span :title="this.stateInfo.chayan.newData.exam_addr" v-text="this.stateInfo.chayan.newData.exam_addr"></span></p>
            <p><label>查验关员签名 <br>或代号</label><span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span></p>
            <p><label>人工查验<br>过程记录</label><span :title="this.stateInfo.chayan.newData.man_chk_notes" v-text="this.stateInfo.chayan.newData.man_chk_notes"></span></p>
            <p><label>审批意见</label><span :title="this.stateInfo.chayan.newData.exam_appr_idea" v-text="this.stateInfo.chayan.newData.exam_appr_idea"></span></p>
            <p><label>处理结果</label><span :title="this.stateInfo.chayan.newData.exam_result" v-text="this.stateInfo.chayan.newData.exam_result"></span></p>
            <p><label>科员(组)长审批 <br>意见或代号</label><span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span></p>
            <p><label>关(处)长审批 <br>意见或代号</label><span :title="this.stateInfo.chayan.newData.xxx" v-text="this.stateInfo.chayan.newData.xxx"></span></p>

          </div>

          <!--转关单详情-->
          <div v-show="stateInfo.rightTitle === '转关单'" class="zhuanguan_xq" id="zhuanguanConter">

            <p><label>境内运输工具航次</label><span :title="stateInfo.zhuanguan.newData.NATIVE_VOYAGE_NO" v-text="stateInfo.zhuanguan.newData.NATIVE_VOYAGE_NO"></span></p>
            <p><label>境外启运地港</label><span :title="stateInfo.zhuanguan.newData.FOR_PORT_NAME" v-text="stateInfo.zhuanguan.newData.FOR_PORT_NAME"></span></p>
            <p><label>作废原因代码</label><span :title="stateInfo.zhuanguan.newData.DEL_REASON" v-text="stateInfo.zhuanguan.newData.DEL_REASON"></span></p>
            <p><label>电子关锁使用标志</label><span :title="stateInfo.zhuanguan.newData.ESEAL_FLAG" v-text="stateInfo.zhuanguan.newData.ESEAL_FLAG"></span></p>
            <p><label>集装箱规格代码</label><span :title="stateInfo.zhuanguan.newData.CONTA_TYPE" v-text="stateInfo.zhuanguan.newData.CONTA_TYPE"></span></p>
            <p><label>监管方式代码</label><span :title="stateInfo.zhuanguan.newData.TRADE_MODE" v-text="stateInfo.zhuanguan.newData.TRADE_MODE"></span></p>
            <p><label>收货人</label><span :title="stateInfo.zhuanguan.newData.OWNER_NAME" v-text="stateInfo.zhuanguan.newData.OWNER_NAME"></span></p>
            <p><label>备用字段</label><span :title="stateInfo.zhuanguan.newData.PRE_FIEL" v-text="stateInfo.zhuanguan.newData.PRE_FIEL"></span></p>
            <p><label>进境总重量</label><span :title="stateInfo.zhuanguan.newData.MFT_GROSS_WEIGHT" v-text="stateInfo.zhuanguan.newData.MFT_GROSS_WEIGHT"></span></p>
            <p><label>许可证编号</label><span :title="stateInfo.zhuanguan.newData.LICENSE_NO" v-text="stateInfo.zhuanguan.newData.LICENSE_NO"></span></p>
            <p><label>第二封志号</label><span :title="stateInfo.zhuanguan.newData.SEAL_NO2" v-text="stateInfo.zhuanguan.newData.SEAL_NO2"></span></p>
            <p><label>申报企业名称</label><span :title="stateInfo.zhuanguan.newData.APPL_NAME" v-text="stateInfo.zhuanguan.newData.APPL_NAME"></span></p>
            <p><label>提前报关转关处理</label><span :title="stateInfo.zhuanguan.newData.ADV_MARK" v-text="stateInfo.zhuanguan.newData.ADV_MARK"></span></p>
            <p><label>手册编号</label><span :title="stateInfo.zhuanguan.newData.MANUAL_NO" v-text="stateInfo.zhuanguan.newData.MANUAL_NO"></span></p>
            <p><label>发送关区代码</label><span :title="stateInfo.zhuanguan.newData.SEND_PORT" v-text="stateInfo.zhuanguan.newData.SEND_PORT"></span></p>
            <p><label>申报企业编号</label><span :title="stateInfo.zhuanguan.newData.APPL_CODE" v-text="stateInfo.zhuanguan.newData.APPL_CODE"></span></p>
            <p><label>核销标记</label><span :title="stateInfo.zhuanguan.newData.CHECK_MARK" v-text="stateInfo.zhuanguan.newData.CHECK_MARK"></span></p>
            <p><label>作废时间</label><span :title="stateInfo.zhuanguan.newData.DEL_TIME" v-text="stateInfo.zhuanguan.newData.DEL_TIME"></span></p>
            <p><label>核销时间</label><span :title="stateInfo.zhuanguan.newData.CHECK_TIME" v-text="stateInfo.zhuanguan.newData.CHECK_TIME"></span></p>
            <p><label>备用字段1</label><span :title="stateInfo.zhuanguan.newData.PRE_FIELD1" v-text="stateInfo.zhuanguan.newData.PRE_FIELD1"></span></p>
            <p><label>报关单号</label><span :title="stateInfo.zhuanguan.newData.ENTRY_NO" v-text="stateInfo.zhuanguan.newData.ENTRY_NO"></span></p>
            <p><label>备用字段2</label><span :title="stateInfo.zhuanguan.newData.PRE_FIELD2" v-text="stateInfo.zhuanguan.newData.PRE_FIELD2"></span></p>
            <p><label>境内运输工具</label><span :title="stateInfo.zhuanguan.newData.TRANS_NO" v-text="stateInfo.zhuanguan.newData.TRANS_NO"></span></p>
            <p><label>境内运输工具编号</label><span :title="stateInfo.zhuanguan.newData.CUSTOMS_NO" v-text="stateInfo.zhuanguan.newData.CUSTOMS_NO"></span></p>
            <p><label>进境运输工具编号</label><span :title="stateInfo.zhuanguan.newData.IN_TRAF_NAME" v-text="stateInfo.zhuanguan.newData.IN_TRAF_NAME"></span></p>
            <p><label>审核标志</label><span :title="stateInfo.zhuanguan.newData.REC_MARK" v-text="stateInfo.zhuanguan.newData.REC_MARK"></span></p>
            <p><label>电子关锁密钥</label><span :title="stateInfo.zhuanguan.newData.ESEAL_KEY" v-text="stateInfo.zhuanguan.newData.ESEAL_KEY"></span></p>
            <p><label>录入时间</label><span :title="stateInfo.zhuanguan.newData.INPUT_TIME" v-text="stateInfo.zhuanguan.newData.INPUT_TIME"></span></p>
            <p><label>放行人</label><span :title="stateInfo.zhuanguan.newData.REL_OP_ID" v-text="stateInfo.zhuanguan.newData.REL_OP_ID"></span></p>
            <p><label>审核时间</label><span :title="stateInfo.zhuanguan.newData.EXAM_TIME" v-text="stateInfo.zhuanguan.newData.EXAM_TIME"></span></p>
            <p><label>接收关区代码</label><span :title="stateInfo.zhuanguan.newData.RECV_PORT" v-text="stateInfo.zhuanguan.newData.RECV_PORT"></span></p>
            <p><label>审核人</label><span :title="stateInfo.zhuanguan.newData.EXAM_OP_ID" v-text="stateInfo.zhuanguan.newData.EXAM_OP_ID"></span></p>
            <p><label>有效日期</label><span :title="stateInfo.zhuanguan.newData.VALID_TIME" v-text="stateInfo.zhuanguan.newData.VALID_TIME"></span></p>
            <p><label>集装箱空箱数</label><span :title="stateInfo.zhuanguan.newData.CONTA_EMPTY_COUNT" v-text="stateInfo.zhuanguan.newData.CONTA_EMPTY_COUNT"></span></p>
            <p><label>申报单理单册号</label><span :title="stateInfo.zhuanguan.newData.STF_NO" v-text="stateInfo.zhuanguan.newData.STF_NO"></span></p>
            <p><label>转关单号</label><span :title="stateInfo.zhuanguan.newData.TURN_NO" v-text="stateInfo.zhuanguan.newData.TURN_NO"></span></p>
            <p><label>出境提运单号</label><span :title="stateInfo.zhuanguan.newData.MFT_BILL_NO" v-text="stateInfo.zhuanguan.newData.MFT_BILL_NO"></span></p>
            <p><label>承运企业名称</label><span :title="stateInfo.zhuanguan.newData.CONTRACTOR" v-text="stateInfo.zhuanguan.newData.CONTRACTOR"></span></p>
            <p><label>集装箱标箱数</label><span :title="stateInfo.zhuanguan.newData.CONTA_INI_COUNT" v-text="stateInfo.zhuanguan.newData.CONTA_INI_COUNT"></span></p>
            <p><label>录入员</label><span :title="stateInfo.zhuanguan.newData.INPUT_OP_ID" v-text="stateInfo.zhuanguan.newData.INPUT_OP_ID"></span></p>
            <p><label>第二密押</label><span :title="stateInfo.zhuanguan.newData.HASH_SIGN" v-text="stateInfo.zhuanguan.newData.HASH_SIGN"></span></p>
            <p><label>理单时间</label><span :title="stateInfo.zhuanguan.newData.STF_DATE" v-text="stateInfo.zhuanguan.newData.STF_DATE"></span></p>
            <p><label>驾驶员编号</label><span :title="stateInfo.zhuanguan.newData.DRIVER_CODE" v-text="stateInfo.zhuanguan.newData.DRIVER_CODE"></span></p>
            <p><label>集装箱数</label><span :title="stateInfo.zhuanguan.newData.CONTA_AMOUNT" v-text="stateInfo.zhuanguan.newData.CONTA_AMOUNT"></span></p>
            <p><label>申报人电话</label><span :title="stateInfo.zhuanguan.newData.APP_TELE" v-text="stateInfo.zhuanguan.newData.APP_TELE"></span></p>
            <p><label>境内运输方式代码</label><span :title="stateInfo.zhuanguan.newData.TRAF_WAY" v-text="stateInfo.zhuanguan.newData.TRAF_WAY"></span></p>
            <p><label>境外起运地港口名</label><span :title="stateInfo.zhuanguan.newData.R_PORT_NAME" v-text="stateInfo.zhuanguan.newData.R_PORT_NAME"></span></p>
            <p><label>捆绑审核标志</label><span :title="stateInfo.zhuanguan.newData.DELI_MARK" v-text="stateInfo.zhuanguan.newData.DELI_MARK"></span></p>
            <p><label>提单号</label><span :title="stateInfo.zhuanguan.newData.BILL_NO" v-text="stateInfo.zhuanguan.newData.BILL_NO"></span></p>
            <p><label>核注核销标记</label><span :title="stateInfo.zhuanguan.newData.MFT_REC_MARK" v-text="stateInfo.zhuanguan.newData.MFT_REC_MARK"></span></p>
            <p><label>合同编号</label><span :title="stateInfo.zhuanguan.newData.CONTR_NO" v-text="stateInfo.zhuanguan.newData.CONTR_NO"></span></p>
            <p><label>作废描述</label><span :title="stateInfo.zhuanguan.newData.DEL_REASON_DETAIL" v-text="stateInfo.zhuanguan.newData.DEL_REASON_DETAIL"></span></p>
            <p><label>提单记录总数</label><span :title="stateInfo.zhuanguan.newData.BILL_COUNT" v-text="stateInfo.zhuanguan.newData.BILL_COUNT"></span></p>
            <p><label>作废人</label><span :title="stateInfo.zhuanguan.newData.DEL_OP_ID" v-text="stateInfo.zhuanguan.newData.DEL_OP_ID"></span></p>
            <p><label>联系单号</label><span :title="stateInfo.zhuanguan.newData.CONTACT_NO" v-text="stateInfo.zhuanguan.newData.CONTACT_NO"></span></p>
            <p><label>外部网编号</label><span :title="stateInfo.zhuanguan.newData.TRANS_PRE_NO" v-text="stateInfo.zhuanguan.newData.TRANS_PRE_NO"></span></p>
            <p><label>进境时间</label><span :title="stateInfo.zhuanguan.newData.IMPORT_DATE" v-text="stateInfo.zhuanguan.newData.IMPORT_DATE"></span></p>
            <p><label>进境运输方式</label><span :title="stateInfo.zhuanguan.newData.MFT_TRAF_WAY" v-text="stateInfo.zhuanguan.newData.MFT_TRAF_WAY"></span></p>
            <p><label>转关类型代码</label><span :title="stateInfo.zhuanguan.newData.TRN_MODE" v-text="stateInfo.zhuanguan.newData.TRN_MODE"></span></p>
            <p><label>放行时间</label><span :title="stateInfo.zhuanguan.newData.REL_TIME" v-text="stateInfo.zhuanguan.newData.REL_TIME"></span></p>
            <p><label>进境航次编号</label><span :title="stateInfo.zhuanguan.newData.MFT_VOYAGE_NO" v-text="stateInfo.zhuanguan.newData.MFT_VOYAGE_NO"></span></p>
            <p><label>封志号</label><span :title="stateInfo.zhuanguan.newData.SEAL_NO" v-text="stateInfo.zhuanguan.newData.SEAL_NO"></span></p>
            <p><label>备注</label><span :title="stateInfo.zhuanguan.newData.GOODS_NOTE" v-text="stateInfo.zhuanguan.newData.GOODS_NOTE"></span></p>
            <p><label>进境总数</label><span :title="stateInfo.zhuanguan.newData.MFT_GOODS_PIECE" v-text="stateInfo.zhuanguan.newData.MFT_GOODS_PIECE"></span></p>
            <p><label>核销人</label><span :title="stateInfo.zhuanguan.newData.CHECK_OP_ID" v-text="stateInfo.zhuanguan.newData.CHECK_OP_ID"></span></p>
            <p><label>预录入号</label><span :title="stateInfo.zhuanguan.newData.PRE_NO" v-text="stateInfo.zhuanguan.newData.PRE_NO"></span></p>
            <p><label>外部来源标志</label><span :title="stateInfo.zhuanguan.newData.TRANS_PRE_MARK" v-text="stateInfo.zhuanguan.newData.TRANS_PRE_MARK"></span></p>
            <p><label>集装箱号</label><span :title="stateInfo.zhuanguan.newData.CONTA_NO" v-text="stateInfo.zhuanguan.newData.CONTA_NO"></span></p>
            <p><label>转关承运企业编号</label><span :title="stateInfo.zhuanguan.newData.CONTRACTOR_CODE" v-text="stateInfo.zhuanguan.newData.CONTRACTOR_CODE"></span></p>
            <p><label>货物重点查控标记</label><span :title="stateInfo.zhuanguan.newData.GOODS_CHK_FLAG" v-text="stateInfo.zhuanguan.newData.GOODS_CHK_FLAG"></span></p>
            <p><label>其他重点查控标记</label><span :title="stateInfo.zhuanguan.newData.OTHER_CHK_MARK" v-text="stateInfo.zhuanguan.newData.OTHER_CHK_MARK"></span></p>

          </div>

        </div>
      </div>
      <div v-show="!isRightInfo" id="locus-main">
        <div class="title">
          <span>轨迹地图</span>
        </div>
        <div class="conter">
          <div>
            <img src="imgs/bo_md_small.png"/>
            <div id="track-box">
              <canvas id="canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<script src="js/axios.min.js"></script>
<script src="js/lodash.min.js"></script>
<script src="js/bizOperation.js"></script>
</body>

</html>
