@import "./font-awesome-4.7.0/css/font-awesome.min.css";

@import "./base/reset";
@import "./base/theme";
@import "./base/from";
@import "./base/tool";

// 定
html, body{
  height 100%
  width 100%
  min-height 668px
  min-width 1000px
  position relative
}

// 通用
@import "./includes/header"

// 各页面主体
@import "./pages/login"
@import "./pages/livePreview"
@import "./pages/IPCManage"
@import "./pages/accreditManage"
@import "./pages/systemSetup"
@import "./pages/systemInfo"


