.accredit-manage-container {
  padding: 0 15px;
}
.accredit-manage-container .title {
  border-bottom: 1px dashed $hoverColor2;
  padding-top: 10px;
  margin-bottom: 10px;
}
.accredit-manage-container .title >span {
  line-height: 44px;
  font-size: 16px;
}
.accredit-manage-container .title >span >b {
  display: inline-block;
  width: 3px;
  height: 16px;
  margin-right: 6px;
  background: $bgColor;
  position: relative;
  top: 2px;
}
