.ipc-manage-container {
  padding: 0 15px;
}
.ipc-manage-container .title >span {
  line-height: 40px;
  font-size: 24px;
}
.ipc-manage-container .title >span >b {
  display: inline-block;
  width: 4px;
  height: 24px;
  margin-right: 6px;
  background: $bgColor;
}
.ipc-manage-container .title .handler {
  float: right;
}
