// 系统设置
.system-setup-container {
  width 100%
  overflow hidden
  .tags-box {
    float left
    width 230px
    border-right 1px solid #cee0f0
    height 100%
    background #f7faff
    >div {
      cursor pointer
      >span {
        display block
        line-height 34px
        height 35px
        box-sizing border-box
        padding 0 20px
        border-bottom 1px solid #cee0f0
        //background $hoverColor2
        background-image linear-gradient(to bottom, #fefeff, #eff6ff)
        position relative
        transition background .3s linear
        >.fa-sort-up {
          position absolute
          right 10px
          top 12px
        }
        >.fa-sort-down {
          position absolute
          right 10px
          top 6px
        }
      }
      >div {
        display none
        padding 0 20px
        border-bottom 1px solid #cee0f0
        >a {
          display block
          line-height 34px
          &:not(:last-child) {
            border-bottom 1px solid #cee0f0
          }
          >i {
            display inline-block
            width 4px
            height 4px
            border-radius 50%
            border 1px solid #666
            margin-right 6px
            position relative
            top -2px
          }
          &:hover, &.active {
            color #0394f9
            i {
              background-color #0394f9
              border-color #0394f9
            }
          }
        }
      }

      &.active {
        >span {
          background #d3ebff
          color #0394f9
          font-weight bold
          background-image linear-gradient(to bottom, #d3ebff, #d3ebff)
        }
        >div {
          display block
        }
      }
      &:hover {
        >span {
          color #0394f9
        }
      }
    }


  }

  .main-chenge {
    float left
    width 10%
    height 100%
    //padding 10px
    box-sizing border-box
    overflow hidden
    position relative
  }

}

// 导入
@import "../includes/setup/local"
@import "../includes/setup/system"
@import "../includes/setup/net"