@import "reset.css";
::-webkit-scrollbar {
  width: 0.2rem /* 20/100 */;
  height: 0.2rem /* 20/100 */;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0,0,0,0.2);
  -webkit-border-radius: 0.2rem /* 20/100 */;
}
::-webkit-scrollbar-thumb:vertical {
  height: 0.2rem /* 20/100 */;
  background-color: rgba(22,185,254,0.7);
  -webkit-border-radius: 0.2rem /* 20/100 */;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 0.2rem /* 20/100 */;
  background-color: rgba(22,185,254,0.7);
  -webkit-border-radius: 0.2rem /* 20/100 */;
}
body,
html {
  height: 100%;
  weight: 100%;
  color: #fff;
}
.customsManifest_box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
.customsManifest_box .background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.customsManifest_box .background img {
  width: 100%;
  height: 100%;
}
.customsManifest_box .header {
  text-align: center;
  font-size: 0.5rem;
  color: #55e5ed;
  padding-top: 0.6rem;
}
.customsManifest_box .banner {
  margin-top: 0.7rem;
  padding: 0 1.2rem;
}
.customsManifest_box .banner:after {
  display: block;
  content: '';
  clear: both;
}
.customsManifest_box .banner > p {
  float: left;
  width: 16.666666666666668%;
  font-size: 0.3rem;
  margin-bottom: 0.3rem;
  box-sizing: border-box;
  padding-right: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.customsManifest_box .banner > p.x2 {
  width: 33.333333333333336%;
}
.customsManifest_box .banner > p.x2 label {
  margin-left: 50%;
  width: 5rem;
  position: relative;
  left: -2.4rem;
}
.customsManifest_box .banner > p.x2 span {
  position: relative;
  left: -2.4rem;
}
.customsManifest_box .banner > p label {
  display: inline-block;
  width: 2.5rem;
  text-align: right;
  color: #55e5ed;
  margin-right: 0.1rem;
}
.customsManifest_box .table {
  padding: 0.1rem 1.2rem;
}
.customsManifest_box .table ul li:after {
  display: block;
  content: '';
  clear: both;
}
.customsManifest_box .table ul li span {
  float: left;
  line-height: 0.7rem;
  height: 0.7rem;
  font-size: 0.3rem;
  text-align: center;
  box-sizing: border-box;
  padding: 0 0.1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 6.777777777777778%;
}
.customsManifest_box .table ul li span:nth-child(1),
.customsManifest_box .table ul li span:nth-child(11),
.customsManifest_box .table ul li span:nth-child(12) {
  width: 13%;
}
.customsManifest_box .table .thead {
  color: #55e5ed;
}
.customsManifest_box .table .thead li {
  background: url("../imgs/cus_02.png") no-repeat;
  background-size: 100% 100%;
}
.customsManifest_box .table .tbody {
  height: 11.2rem;
  overflow-y: auto;
}
.customsManifest_box .table .tbody li {
  background: url("../imgs/cus_03.png") no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.customsManifest_box .table .tbody li:nth-child(even) {
  background-image: url("../imgs/cus_04.png");
}
.customsManifest_box .table .tbody li:hover {
  background-image: url("../imgs/cus_05.png");
}
.customsManifest_box .footer {
  font-size: 0.3rem;
  padding: 0.1rem 1.2rem;
  margin-top: 0.9rem;
}
.customsManifest_box .footer p {
  float: left;
  margin-right: 0.3rem;
}
.customsManifest_box .footer p label {
  color: #55e5ed;
}
.customsManifest_box .model_bigbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}
.customsManifest_box .model_bigbox .detail_box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -14rem;
  margin-top: -8rem;
  width: 28rem;
  height: 16rem;
  background: url("../imgs/cus_06.png") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 0 1.3rem;
}
.customsManifest_box .model_bigbox .detail_box .close {
  position: absolute;
  top: 0.1rem;
  right: 0.14rem;
  width: 0.812rem;
  height: 0.63rem;
  background: url("../imgs/cus_08.png") no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.customsManifest_box .model_bigbox .detail_box .detail_header {
  margin-bottom: 0.08rem;
}
.customsManifest_box .model_bigbox .detail_box .detail_header .title {
  font-size: 0.45rem;
  color: #55e5ed;
  text-align: center;
  padding-top: 0.6rem;
}
.customsManifest_box .model_bigbox .detail_box .detail_header .top_row {
  font-size: 0.3rem;
  margin-top: 0.8rem;
  margin-left: 0.05rem;
  padding-bottom: 0.1rem;
}
.customsManifest_box .model_bigbox .detail_box .detail_header .top_row:after {
  display: block;
  content: '';
  clear: both;
}
.customsManifest_box .model_bigbox .detail_box .detail_header .top_row p {
  float: left;
  margin-right: 0.2rem;
}
.customsManifest_box .model_bigbox .detail_box .detail_header .top_row p label {
  color: #55e5ed;
}
.customsManifest_box .model_bigbox .detail_box .detail_content {
  height: 11.6rem;
  overflow-y: auto;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .tags {
  font-size: 0.36rem;
  border-bottom: 0.02rem solid #1c91f5;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .tags a {
  color: #667c8e;
  display: inline-block;
  padding: 0.12rem 0.3rem;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .tags a:not(.active) {
  cursor: pointer;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .tags a.active {
  color: #fff;
  font-weight: bold;
  position: relative;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .tags a.active:after {
  content: '';
  width: 100%;
  height: 0.08rem;
  background: url("../imgs/cus_07.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .list {
  margin-top: 0.08rem;
  border-top: 0.01rem solid #16baff;
  border-left: 0.01rem solid #16baff;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .list:after {
  display: block;
  content: '';
  clear: both;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .list p {
  float: left;
  width: 33.333333333333336%;
  font-size: 0.3rem;
  border-bottom: 0.01rem solid #16baff;
  border-right: 0.01rem solid #16baff;
  box-sizing: border-box;
  line-height: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .list p label {
  width: 2.7rem;
  border-right: 0.01rem solid #16baff;
  display: inline-block;
  background: #0b3670;
  color: #55e5ed;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .detail_table {
  margin-top: 0.2rem;
  border-top: 0.01rem solid #16baff;
  border-left: 0.01rem solid #16baff;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .detail_table p {
  font-size: 0.3rem;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .detail_table p:after {
  display: block;
  content: '';
  clear: both;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .detail_table p.thead span {
  background: #0b3670;
  color: #55e5ed;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .detail_table p span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  width: 7.692307692307693%;
  border-bottom: 0.01rem solid #16baff;
  border-right: 0.01rem solid #16baff;
  box-sizing: border-box;
  line-height: 0.82rem;
  height: 0.82rem;
  text-align: center;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .boxs_detail .tags a {
  padding: 0.12rem 0.02rem;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .boxs_detail .detail_table p span {
  width: 6.833333333333333%;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .boxs_detail .detail_table p span:nth-child(2),
.customsManifest_box .model_bigbox .detail_box .detail_content .boxs_detail .detail_table p span:nth-child(5) {
  width: 9%;
}
.customsManifest_box .model_bigbox .detail_box .detail_content .works_detail .detail_table p span {
  width: 10%;
}
.bizOperation_box {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
.bizOperation_box .background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.bizOperation_box .background img {
  width: 100%;
  height: 100%;
}
.bizOperation_box .header {
  text-align: center;
  font-size: 0.5rem;
  color: #55e5ed;
  padding-top: 0.6rem;
}
.bizOperation_box .main {
  margin: 0.3rem 0.56rem;
  padding-bottom: 0.2rem;
}
.bizOperation_box .main:after {
  display: block;
  content: '';
  clear: both;
}
.bizOperation_box .main .left_box {
  float: left;
  width: 33%;
  box-sizing: border-box;
}
.bizOperation_box .main .left_box .baseInfo {
  border: 1px solid #0e4c8e;
  border-radius: 0.08rem;
}
.bizOperation_box .main .left_box .baseInfo .title {
  color: #4dd3dd;
  font-size: 0.36rem;
  padding-left: 0.4rem;
  background: #011238;
  border-top-left-radius: 0.08rem;
  border-top-right-radius: 0.08rem;
  line-height: 0.72rem;
  border-bottom: 1px solid #052959;
}
.bizOperation_box .main .left_box .baseInfo .title span:before {
  content: '';
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  background: url("../imgs/bo_icon2.png") no-repeat 0 0;
  background-size: contain;
  vertical-align: sub;
  position: relative;
  top: -0.02rem;
  margin-right: 0.1rem;
}
.bizOperation_box .main .left_box .baseInfo .conter {
  color: #fff;
  font-size: 0.3rem;
  background-color: rgba(4,42,119,0.4);
}
.bizOperation_box .main .left_box .baseInfo .conter ul {
  padding-bottom: 0.2rem;
}
.bizOperation_box .main .left_box .baseInfo .conter ul:after {
  display: block;
  content: '';
  clear: both;
}
.bizOperation_box .main .left_box .baseInfo .conter ul li {
  float: left;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  margin-top: 0.2rem;
}
.bizOperation_box .main .left_box .baseInfo .conter ul li:nth-child(2n) {
  padding-left: 0.1rem;
}
.bizOperation_box .main .left_box .baseInfo .conter ul li span:nth-child(1) {
  color: #4dd3dd;
  width: 2rem;
  display: inline-block;
  text-align: right;
}
.bizOperation_box .main .left_box .highInfo {
  background-color: rgba(4,42,119,0.4);
  border: 1px solid #0e4c8e;
  border-radius: 0.08rem;
  margin-top: 0.2rem;
}
.bizOperation_box .main .left_box .highInfo .title {
  color: #667c8e;
  padding-left: 0.4rem;
  background: #011238;
  border-top-left-radius: 0.08rem;
  border-top-right-radius: 0.08rem;
  border-bottom: 1px solid #052959;
  line-height: 0.72rem;
}
.bizOperation_box .main .left_box .highInfo .title span {
  font-size: 0.36rem;
  margin-right: 0.2rem;
  cursor: pointer;
}
.bizOperation_box .main .left_box .highInfo .title span:before {
  content: '';
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  background: url("../imgs/bo_icon4_0.png") no-repeat 0 0;
  background-size: contain;
  vertical-align: sub;
  margin-right: 0.15rem;
  position: relative;
  top: -0.02rem;
}
.bizOperation_box .main .left_box .highInfo .title span:nth-child(2):before {
  background-image: url("../imgs/bo_icon3_0.png");
}
.bizOperation_box .main .left_box .highInfo .title span.active {
  color: #4dd3dd;
  position: relative;
}
.bizOperation_box .main .left_box .highInfo .title span.active:after {
  content: '';
  position: absolute;
  bottom: -0.15rem;
  left: 0;
  width: 100%;
  height: 0.04rem;
  background: #4dd3dd;
}
.bizOperation_box .main .left_box .highInfo .title span.active:before {
  background-image: url("../imgs/bo_icon4.png");
}
.bizOperation_box .main .left_box .highInfo .title span.active:nth-child(2):before {
  background-image: url("../imgs/bo_icon3.png");
}
.bizOperation_box .main .left_box .highInfo .conter #state {
  padding: 0 0.34rem;
  padding-top: 0.2rem;
}
.bizOperation_box .main .left_box .highInfo .conter #state .danhao:not(:first-child) {
  border-top: 1px solid #0e4c8e;
  margin-top: 0.1rem;
}
.bizOperation_box .main .left_box .highInfo .conter #state .danhao:last-child {
  padding-bottom: 0.2rem;
}
.bizOperation_box .main .left_box .highInfo .conter #state .danhao > p {
  font-size: 0.3rem;
  color: #4dd3dd;
  padding-bottom: 0.1rem;
  padding-top: 0.15rem;
}
.bizOperation_box .main .left_box .highInfo .conter #state .danhao > p span {
  color: #ff9700;
  float: right;
  font-size: 0.3rem;
  padding-top: 0.05rem;
}
.bizOperation_box .main .left_box .highInfo .conter #state .danhao > div:after {
  display: block;
  content: '';
  clear: both;
}
.bizOperation_box .main .left_box .highInfo .conter #state .danhao > div a {
  background: #0a3d7c;
  line-height: 0.54rem;
  border-radius: 0.04rem;
  cursor: pointer;
  color: #fff;
  font-size: 0.3rem;
  width: 32.5%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1.25%;
}
.bizOperation_box .main .left_box .highInfo .conter #state .danhao > div a:not(:nth-child(3n)) {
  margin-right: 1.25%;
}
.bizOperation_box .main .left_box .highInfo .conter #state .danhao > div a:hover,
.bizOperation_box .main .left_box .highInfo .conter #state .danhao > div a.active {
  background: #1b91f5;
}
.bizOperation_box .main .left_box .highInfo .conter #locus ul li {
  font-size: 0.3rem;
  line-height: 1.5rem;
  cursor: pointer;
}
.bizOperation_box .main .left_box .highInfo .conter #locus ul li:last-child b:after {
  display: none;
}
.bizOperation_box .main .left_box .highInfo .conter #locus ul li span:nth-child(1) {
  color: #ff9700;
  width: 3.5rem;
  display: inline-block;
  margin-left: 0.8rem;
  margin-right: 0.2rem;
}
.bizOperation_box .main .left_box .highInfo .conter #locus ul li span:nth-child(3) {
  color: #66c5fd;
  margin-left: 0.3rem;
}
.bizOperation_box .main .left_box .highInfo .conter #locus ul li b {
  width: 0.22rem;
  height: 0.22rem;
  border: 0.06rem solid #1fc3ff;
  border-radius: 50%;
  display: inline-block;
  background: #046dee;
  position: relative;
}
.bizOperation_box .main .left_box .highInfo .conter #locus ul li b:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 39%;
  width: 0.05rem;
  height: 1.25rem;
  background: #1fc3ff;
}
.bizOperation_box .main .left_box .highInfo .conter #locus ul li.active {
  background: url("../imgs/bo_wzbg.png") no-repeat;
  background-size: contain;
  background-position: center;
}
.bizOperation_box .main .right_box {
  float: right;
  width: 66.5%;
}
.bizOperation_box .main .right_box #state-main {
  border: 1px solid #0e4c8e;
  border-radius: 0.08rem;
  background-color: rgba(4,42,119,0.4);
}
.bizOperation_box .main .right_box #state-main .title {
  color: #4dd3dd;
  font-size: 0.36rem;
  padding-left: 0.4rem;
  background: #011238;
  border-top-left-radius: 0.08rem;
  border-top-right-radius: 0.08rem;
  line-height: 0.7rem;
  border-bottom: 1px solid #052959;
}
.bizOperation_box .main .right_box #state-main .title:before {
  content: '';
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  background: url("../imgs/bo_icon5.png") no-repeat 0 0;
  background-size: contain;
  vertical-align: sub;
  margin-right: 0.1rem;
  position: relative;
  top: -0.03rem;
}
.bizOperation_box .main .right_box #state-main .conter {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  max-height: 18rem;
  overflow: auto;
/* ul {
            margin pr(100)
            border-bottom 1px solid #1295D8
            border-left 1px solid #1295D8
            clearFloat()
            li {
              float left
              font-size pr(30)
              color #fff
              border-top 1px solid #1295D8
              border-right 1px solid #1295D8
              position relative
              line-height pr(170)
              box-sizing border-box
              height pr(170)
              > span {
                border-right 1px solid #1295D8
                display inline-block
                line-height pr(170)
                box-sizing border-box
                padding-left pr(15)
                color #4dd3dd
                background rgba(64, 143, 195, .2)
                position absolute
                top 0
                left 0
                width pr(230)
              }
              > p {
                margin-left pr(230)
                padding-left pr(20)
                box-sizing border-box
                Overflow()
              }
            }
          }
          .baoguan_xq ul {
            li {
              &:nth-child(1) {
                width 100%
              }
              &:nth-child(2), &:nth-child(6), &:nth-child(9), &:nth-child(12), &:nth-child(15), &:nth-child(18) {
                width 33%
              }
              &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                width 22.333%
              }
              &:nth-child(7), &:nth-child(8), &:nth-child(10), &:nth-child(11), &:nth-child(13), &:nth-child(14), &:nth-child(16), &:nth-child(17), &:nth-child(19), &:nth-child(20) {
                width 33.5%
              }

              &:nth-child(21), &:nth-child(22), &:nth-child(23), &:nth-child(24) {
                width 25%
              }
              &:nth-child(25), &:nth-child(26), &:nth-child(27) {
                width 33.33%
              }
              //&:nth-child(28), &:nth-child(29){
              //  width 50%
              //}
            }
          }
          .cangdan_xq ul {
            li {
              width 33.33%
            }
          }
          .chayan_xq ul {
            li {
              width 25%
            }
          }*/
}
.bizOperation_box .main .right_box #state-main .conter >div {
  font-size: 0.3rem;
  margin: 1rem;
  border-bottom: 1px solid #16baff;
  border-left: 1px solid #16baff;
}
.bizOperation_box .main .right_box #state-main .conter >div:after {
  display: block;
  content: '';
  clear: both;
}
.bizOperation_box .main .right_box #state-main .conter >div >p {
  position: relative;
  height: 1.76rem;
  box-sizing: border-box;
  float: left;
  width: 25%;
  border-top: 1px solid #16baff;
  border-right: 1px solid #16baff;
}
.bizOperation_box .main .right_box #state-main .conter >div >p:after {
  display: block;
  content: '';
  clear: both;
}
.bizOperation_box .main .right_box #state-main .conter >div >p label {
  color: #55e5ed;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 1px solid #16baff;
  background: #0b3670;
  width: 2.34rem;
  box-sizing: border-box;
  padding-left: 0.15rem;
  display: flex;
  flex-direction: row; /* 子元素横向排列 */
  align-items: center; /*  子元素相对父元素垂直居中 */
}
.bizOperation_box .main .right_box #state-main .conter >div >p span {
  margin-left: 2.34rem;
  display: flex;
  height: 100%;
  padding: 0 0.1rem;
  flex-direction: row; /* 子元素横向排列 */
  align-items: center; /*  子元素相对父元素垂直居中 */
  word-break: break-all;
  word-wrap: break-word;
}
.bizOperation_box .main .right_box #state-main .conter >div >ul {
  float: left;
  width: 100%;
}
.bizOperation_box .main .right_box #state-main .conter >div >ul li {
  border-top: 1px solid #16baff;
  border-right: 1px solid #16baff;
}
.bizOperation_box .main .right_box #state-main .conter >div >ul li:after {
  display: block;
  content: '';
  clear: both;
}
.bizOperation_box .main .right_box #state-main .conter >div >ul li span {
  float: left;
  padding: 0.1rem;
  box-sizing: border-box;
  word-break: break-all;
  word-wrap: break-word;
  height: 1.32rem;
  display: flex;
  flex-direction: row; /* 子元素横向排列 */
  align-items: center; /*  子元素相对父元素垂直居中 */
}
.bizOperation_box .main .right_box #state-main .conter >div >ul li.thead {
  background: #0b3670;
  color: #55e5ed;
}
.bizOperation_box .main .right_box #state-main .conter >div >ul li.thead span {
  height: 0.66rem;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(1),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(2) {
  width: 50%;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(3),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(7),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(8),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(9),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(10),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(11),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(12),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(13),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(14),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(15) {
  width: 33.333333333333336%;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(4),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(5),
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(6) {
  width: 22.222222222222225%;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(29) {
  width: 50%;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(31) {
  width: 100%;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(4) label,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(5) label,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(6) label,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(8) label,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(11) label,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(14) label,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(17) label,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(21) label,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(25) label,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(29) label {
  width: 1.58rem;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(4) span,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(5) span,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(6) span,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(8) span,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(11) span,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(14) span,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(17) span,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(21) span,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(25) span,
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(29) span {
  margin-left: 1.58rem;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >p:nth-child(17) label {
  justify-content: center;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >ul li span {
  width: 10%;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >ul li span:nth-child(1) {
  width: 5%;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq >ul li span:nth-child(3) {
  width: 15%;
}
.bizOperation_box .main .right_box #state-main .conter .baoguan_xq .tips {
  position: absolute;
  width: 100%;
  bottom: -0.6rem;
  left: 1rem;
  color: #ff9700;
}
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(1),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(2),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(17),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(28),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(38),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(39),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(44),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(45),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(51),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(52),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(53),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(54),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(55),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(56) {
  width: 50%;
}
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(29) {
  width: 75%;
}
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(37),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(46) {
  width: 100%;
}
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(29),
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >p:nth-child(30) {
  height: 2rem;
}
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >ul.u1 li span {
  width: 16.666666666666668%;
}
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >ul.u2 li span {
  width: 14.285714285714286%;
}
.bizOperation_box .main .right_box #state-main .conter .chayan_xq >ul li span {
  height: 1.65rem;
}
.bizOperation_box .main .right_box #locus-main {
  border: 1px solid #0e4c8e;
  border-radius: 0.08rem;
  background-color: rgba(4,42,119,0.4);
  height: 100%;
  box-sizing: border-box;
}
.bizOperation_box .main .right_box #locus-main .title {
  color: #4dd3dd;
  font-size: 0.36rem;
  padding-left: 0.4rem;
  background: #011238;
  border-top-left-radius: 0.08rem;
  border-top-right-radius: 0.08rem;
  line-height: 0.7rem;
  border-bottom: 1px solid #052959;
}
.bizOperation_box .main .right_box #locus-main .title:before {
  content: '';
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  background: url("../imgs/bo_icon1.png") no-repeat 0 0;
  background-size: contain;
  vertical-align: sub;
  position: relative;
  margin-right: 0.1rem;
  top: -0.02rem;
}
.bizOperation_box .main .right_box #locus-main .conter > div {
  width: 100%;
  box-sizing: border-box;
  padding: 1.2rem 4%;
  position: relative;
}
.bizOperation_box .main .right_box #locus-main .conter > div > img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.bizOperation_box .main .right_box #locus-main .conter > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 1.2rem 4%;
  box-sizing: border-box;
}
