// 本地设置
.setup-local {
  padding 10px
  .item {
    border-bottom 1px dashed #dae6f9
    padding-bottom 25px
    margin-bottom 15px
    .title {
      font-size 16px
      color #333
      margin-top 5px
      margin-bottom 20px
      padding-left 10px
      >b {
        display inline-block
        width 3px
        height 15px
        background #0394f9
        margin-right 10px
        position relative
        top 2px
      }
    }
    .item-main {
      padding-left 23px
      label {
        color #333
      }
      >span {
        cursor pointer
        margin-right 40px
        b {
          display inline-block
          width 14px
          height 14px
          border 1px solid #4897f6
          border-radius 50%
          position relative
          top 3px
          i {
            position absolute
            width 8px
            height 8px
            border-radius 50%
            top 3px
            left 3px
          }
        }
        &.active {
          b {
            background #d7edffx
            i {
              background #4897f6
            }
          }
        }
      }
      >input {
        width 400px
        height 30px
        line-height 28px
        box-sizing border-box
        border 1px solid #dae6f9
        border-radius 4px
        padding 0 8px
      }
    }
  }
  .btn {
    btnFn(30px)
    position relative
    top -1px
    margin-left 5px
  }
  .btn-box {
    padding-top 10px
    padding-left 18px
  }
}
